# Git History
.git/
.gitignore

# Python Virtual Environments
.venv/
.venv-zta/
.venv*/
venv/
env/

# Python Cache & Compiled Artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local Runtime Data, Logs & Mesh States
logs/
.pytest_cache/

# Docker Deployments (Targeted Overrides)
docker-compose.yml
superexec.Dockerfile

# OS System Files
.DS_Store
Thumbs.db